.fondo-principal {
  background-image: url(../fotosyvideos/descarga.jpeg);
  background-repeat: repeat;
  background-size: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.posteo-texto {
  width: 70%;
  margin: 100px 15%;
  background-color: rgba(0, 0, 0, 0.5);
}
.posteo-texto h1 {
  font-family: fantasy;
  font-size: 56px;
  text-align: left;
  color: aliceblue;
}
.posteo-texto h2 {
  color: aliceblue;
}

.posteo-contenido {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: 30px;
}

.navbar {
  background-color: bisque !important;
  padding: 5px 10%;
}

.copy {
  color: black;
  margin: 0px;
}

main {
  min-height: 85vh;
}

footer {
  background-color: bisque;
  text-align: center;
}

.copy {
  color: black;
}

.carousel-inner,
.carousel-item {
  height: 500px;
  margin-bottom: 80px;
}

.carousel-item active {
  height: 500px;
}

.carousel-item img {
  height: 100%;
}

.posteo-media {
  display: flex;
  height: 356px;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.posteo-media iframe {
  width: 14%;
  object-fit: cover;
  border-radius: 12px;
}

.notes {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.olga {
  width: 200px;
}

.ibai {
  width: 200px;
}

.grego {
  width: 200px;
}

.resistencia {
  width: 200px;
}

.inter {
  width: 200px;
}

.box-item {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 5px;
  padding: 10px;
  justify-content: space-around;
}

.box img {
  width: 300px;
  height: 300px;
  grid-area: caja1;
  filter: blur(5px);
  transition: transform 0.3s ease-in-out;
}

.box img:hover {
  filter: blur(0px);
  transform: scale(1.1);
}

.org {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.pluh {
  background-color: color(from color srgb r g b);
  height: 500px;
  width: 500px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.cancion {
  justify-content: space-around;
  width: 400px;
}

.notes {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.olga {
  width: 200px;
}

.ibai {
  width: 200px;
}

.grego {
  width: 200px;
}

.resistencia {
  width: 200px;
}

.inter {
  width: 200px;
}

.contact {
  background-color: black;
}

.contacto {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  color: aliceblue;
}

.search {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.designer {
  background-color: black;
}

.quien {
  font-family: sans-serif;
  color: aliceblue;
}

.imgyo {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 20px;
}

@media (max-width: 768px) {
  .nav ul {
    height: auto;
    font-size: medium;
    width: 100%;
  }
  .fondo-principal {
    background-color: black;
    background-size: 100%;
  }
  footer div {
    font-size: small;
    height: auto;
  }
  .title {
    font-size: 90px;
    text-align: center;
  }
  h2 {
    font-size: large;
    text-align: center;
  }
  .hero {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  .historia {
    text-align: justify;
    font-size: 10px;
    height: 700px;
    padding: 10px;
  }
  .carousel-item img {
    height: 300px;
    width: 300px;
  }
  p {
    font-size: small;
    margin: 10px;
  }
  iframe {
    height: 120px;
    width: 50px;
  }
  .albumes {
    display: grid;
    grid-template-columns: 100%;
    height: 1200px;
    width: fit-content;
    width: 600px;
  }
  .albumes iframe {
    height: 200px;
    width: 300px;
  }
  .notes {
    display: grid;
    grid-template-columns: 100%;
    height: 1200px;
    width: 600px;
    width: fit-content;
  }
  .notes iframe {
    height: 200px;
    width: 300px;
  }
  .pluh {
    font-size: small;
    height: auto;
    margin: 10px;
  }
  .box-item {
    height: 370px;
  }
  .box-item img {
    height: 200px;
    width: 100px;
    justify-content: space-between;
    filter: blur(5px);
    transition: 0.4s;
  }
  .box-item img:hover {
    height: 100%;
    width: 100px;
    filter: blur(0px);
  }
  .org {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    height: auto;
  }
  .cancion {
    height: 300px;
  }
}
@media (max-width: 1200px) {
  .nav ul {
    height: auto;
    font-size: 50px;
    width: 100%;
  }
  .fondo-principal {
    background-color: black;
    background-size: 100%;
  }
  footer div {
    font-size: 30px;
    height: auto;
  }
  .title {
    font-size: 150px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  .hero {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  .historia {
    text-align: justify;
    font-size: 30px;
    height: 850px;
    padding: 10px;
  }
  .carousel-item img {
    height: 400px;
    width: 400px;
  }
  p {
    font-size: 20px;
    margin: 10px;
    height: auto;
  }
  iframe {
    height: 40px;
    width: 100%;
  }
  .albumes {
    display: grid;
    grid-template-columns: 100%;
    height: 1200px;
    width: 800px;
  }
  .albumes iframe {
    height: 200px;
    width: 300px;
  }
  .notes {
    display: grid;
    grid-template-columns: 100%;
    height: 1200px;
    width: 600px;
    width: fit-content;
  }
  .notes iframe {
    height: 200px;
    width: 300px;
  }
  .pluh {
    font-size: 25px;
    height: auto;
    margin: 10px;
    width: 1000px;
  }
  .box-item {
    height: 370px;
  }
  .box-item img {
    display: block;
    height: 250px;
    width: 250px;
    justify-content: space-around;
    filter: blur(5px);
    transition: 0.4s;
    padding-right: 5px;
  }
  .box-item img:hover {
    height: 300px;
    width: 300px;
    filter: blur(0px);
  }
  .org {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    height: auto;
  }
  .cancion {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
