.fondo-principal {
  background-image: url(../fotosyvideos/descarga.jpeg);
  background-repeat: repeat;
  background-size: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.posteo-texto {
  width: 70%;
  margin: 100px 15%;
  background-color: rgba(0, 0, 0, 0.5);
  h1 {
    font-family: fantasy;
    font-size: 56px;
    text-align: left;
    color: aliceblue;
  }

  h2 {
    color: aliceblue;
  }

  // p {
  //   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  //   color: aliceblue;
  //   font-size: 100px;
  // }
}

.posteo-contenido {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
  font-size: 30px;
}

.navbar {
  background-color: bisque !important;
  padding: 5px 10%;
}

.copy {
  color: black;
  margin: 0px;
}

main {
  min-height: 85vh;
}
