.fondo-principal {
  background-image: url(../fotosyvideos/descarga.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: fantasy;
  font-size: 56px;
  text-align: left;
  color: aliceblue;
  margin: 10px;
}
h2 {
  color: aliceblue;
  margin: 10px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}
