.contact {
  background-color: black;
}
.contacto {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  color: aliceblue;
}
.search {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
