.albumes {
  display: flex;
  height: 400px;
  justify-content: space-between;
}
.ssj {
  width: 220px;
  object-fit: cover;
}
.antezana {
  width: 220px;
  object-fit: cover;
}
.defdm {
  width: 220px;
  object-fit: cover;
}
.ter1 {
  width: 220px;
  object-fit: cover;
}
.ter2 {
  width: 220px;
  object-fit: cover;
}
.ada {
  width: 220px;
  object-fit: cover;
}
